

  /* =Color
  ----------------------------------------------- */
  :root {
    /*
    --cherry: rgb(209, 36, 42);
    --light-cherry: rgb(209, 126, 132);
    --peach: rgb(241, 95, 91);
    --darker-strawberry: rgb(145, 36, 38);
    --dark-strawberry: rgb(201, 37, 43);
    --watermelon: rgb(223, 7, 1);
    */
    /*
    --black: rgb(66, 68, 71);
    --black: rgb(148, 150, 153);
    --black: rgb(248, 250, 253);
    --black: rgb(149, 150, 152);
    */

    --strawberry: rgb(249, 72, 72);
    --strawberry: rgb(226, 30, 39);
    --strawberry: rgb(238, 51, 56);
    --tungsten: rgb(40, 41, 43);
  }

  :root {
    --text-color: var(--tungsten);
    --link-color: var(--strawberry);
    --button-color: var(--strawberry);
    --headline-color: var(--strawberry);
  }

  body {
    /*
    background-color: rgba(209, 36, 42, 0.025);
    background-color: rgb(255, 254, 254);
    background-color: rgb(238, 239, 241);
    */
    background-color: white;
    color: var(--text-color);
    /*
    background-image: url(/images/texture-shape.png), url(/images/texture-shape-black.png), url(/images/texture-shape-black.png);
    background-position: 50% 50%, 25% 25%, 75% 75%;
    background-size: 150% auto, 150% auto, 150% auto;
    */
    /*
    background-image: url(/images/texture-shape.png), url(/images/texture.png), url(/images/texture-parallel-black.png);
    background-position: 50% 50%, 50% 5%, 50% 50%%;
    background-size: 100% auto, 140% auto, 100% auto;
    */
    /*
    background-image: url(/images/texture-shape.png), url(/images/texture-parallel.png);
    background-position: top, center;
    background-size: 160% auto, 100% auto;
    */
    /*
    background-image: url(/images/texture-shape-black.png), url(/images/texture-shape-black.png), url(/images/texture.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: 50% 85%, 50% -28%, 50% -10%;
    background-size: 160% auto, 160% auto, 140% auto;
    */
  }
  main {
    background-color: rgba(238, 51, 56, 0.01); /* --strawberry */
    background-color: white;
    background-color: transparent;
  }

  a {
    color: var(--link-color);
  }

  main h1,
  main h2 {
    color: var(--headline-color);
  }
  dt {
    color: var(--headline-color);
  }
  /*
  body {
    background-color: rgb(215, 1, 0);
  }
  body > main {
    background-color: white;
    max-width: none !important;
    margin: 0;
  }
  */
  body > nav,
  body > footer {
    background-color: rgb(3, 2, 1);
    background-color: rgb(165, 30, 34);
    background-color: rgb(148, 150, 153);
    background-color: rgb(98, 100, 103);
    color: rgba(255, 255, 255, 0.9);
    background-color: var(--strawberry);
    background-color: rgb(215, 1, 0);
    background-color: transparent;
    background-image: url(/images/texture-shape.png);
    background-position: center;
    background-size: 160% auto;
  }
  body .image {
    background-image: url(/images/texture-shape-black.png), url(/images/texture.png);
    background-position: 50% -10%, center;
    background-size: 160% auto;
  }
  /*
  body .image {
    background-color: rgb(215, 1, 0);
    background-image: url(/images/texture.png);
    background-position: center;
    background-size: cover;
  }
  */
  body > nav button {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body > .image,
  body > nav,
  body > footer {
    background-color: rgba(238, 51, 56, 0.01); /* --strawberry */
    background-color: rgb(215, 1, 0);
  }

  /*
  body > main::before {
    content: "";
    background-color: white;
    height: 1.5em;
    width: 120%;
    margin-top: -2.25em;
    position: absolute;
    z-index: 3;
    left: -10%;
    transform: rotate(2deg);
  }
  body > main::after {
    content: "";
    background-color: rgb(215, 1, 0);
    height: 1.5em;
    width: 120%;
    margin-top: 2.25em;
    position: absolute;
    z-index: 3;
    left: -10%;
    transform: rotate(2deg);
  }

  @media (min-width: 60em) {
    body > main::before {
      margin-top: -4.5em;
      height: 3em;
    }
    body > main::after {
      margin-top: 4.5em;
      height: 3em;
    }
  }
  */

  /*
  body > nav,
  body > footer {
    transform: rotate(5deg);
    margin-left: -3em;
    margin-right: -3em;
  }
  body > nav > *,
  body > footer > * {
    transform: rotate(-5deg);
  }
  */
