

  /* =Elements
  ----------------------------------------------- */
  img {
    max-width: 100%;
    height: auto;
  }


  /* =Icons
  ----------------------------------------------- */
  li img[src*="svg"],
  dt img[src*="svg"] {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    margin-left: -1.5em;
  }

